@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria/Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/geometria/Geometria-Medium.woff') format('woff'),
		url('../fonts/geometria/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria/Geometria.eot');
	src: local('Geometria'),
		url('../fonts/geometria/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../fonts/geometria/Geometria.woff') format('woff'),
		url('../fonts/geometria/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria/Geometria-Bold.eot');
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url('../fonts/geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/geometria/Geometria-Bold.woff') format('woff'),
		url('../fonts/geometria/Geometria-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}