body {
  margin: 0;
  color: #284157;
  font-family: Geometria, Arial, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.container {
  padding: 0 20%;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #fff;
  background-image: linear-gradient(-221deg, #fb2b2b 0%, #f86c26 100%);
  font-size: 13px;
  font-weight: 700;
  transition: all 0.3s;
}

.gradient-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(41deg, #fb2b2b 0%, #f86c26 100%);
  opacity: 0;
  transition: all 0.5s;
}

.btn:hover .gradient-hover {
  opacity: 1;
  border-radius: 5px;
}

.form-input {
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  outline: none;
  box-sizing: border-box;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  flex-basis: 46%;
}

.header-logo img {
  margin-right: 20px;
}

.header-logo__title {
  color: #284157;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.16px;
}

.header-logo__title span {
  font-weight: 700;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 54%;
}

.header-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-align: right;
}

.header-schedule__text {
  line-height: 19px;
  letter-spacing: 0.12px;
  margin-right: 25px;
}

.header-schedule__text-time {
  font-weight: 700;
}

.header-schedule__icon img {
  width: 18px;
  height: 18px;
}

.header-info__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contact {
  line-height: 19px;
  text-align: center;
  margin-right: 29px;
}

.header-contact__text {
  font-size: 12px;
  letter-spacing: 0.12px;
}

.header-contact__tel {
  color: #284157;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.15px;
}

.header-contact__btn {
  width: 170px;
  height: 50px;
  font-size: 12px;
  border-radius: 5px;
}

.main {
}

.bg {
  background: #005d9d url('../img/bg.png') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 59px;
}

.bg-text {
  color: #fff;
  flex-basis: 43%;
}

.bg-text__top {
  margin-bottom: 204px;
}

.main-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.36px;
  margin-bottom: 39px;
}

.main-subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 45px;
}

.main-subtitle2 {
  font-size: 16px;
  line-height: 24px;
}

.bg-text__bottom {
  display: flex;
  justify-content: space-between;
}

.bg-text__bottom-block {
  font-size: 14px;
  font-weight: 500;
}

.bg-text__bottom-block span {
  font-size: 12px;
  font-weight: 400;
}

.bg-form {
  background-color: #fff;
  flex-basis: 32%;
  width: 370px;
  height: 210px;
  position: relative;
}

.bg-form::before,
.bg-form::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  border-left: 185px solid transparent;
  border-right: 184px solid transparent;
}

.bg-form::before {
  top: -105px;
  border-bottom: 105px solid #fff;
}

.bg-form::after {
  bottom: -105px;
  border-top: 105px solid #fff;
}

.bg-form__title {
  font-weight: 500;
  text-align: center;
  position: relative;
  top: -32px;
}

.bg-form__form {
  width: 190px;
  margin: 0 auto;
}

.bg-form__form-input {
  border-radius: 5px;
  width: 190px;
  height: 45px;
  margin-bottom: 10px;
}

.bg-form__form-input:last-of-type {
  margin-bottom: 15px;
}

.bg-form__form-btn {
  width: 190px;
  height: 50px;
  border-radius: 5px;
}