body {
  margin: 0;
  color: #284157;
  font-family: Geometria, Arial, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.container {
  padding: 0 20%;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #fff;
  background-image: linear-gradient(-221deg, #fb2b2b 0%, #f86c26 100%);
  font-size: 13px;
  font-weight: 700;
  transition: all 0.3s;
}

.gradient-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(41deg, #fb2b2b 0%, #f86c26 100%);
  opacity: 0;
  transition: all 0.5s;
}

.btn:hover .gradient-hover {
  opacity: 1;
  border-radius: 5px;
}

.form-input {
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-input::placeholder {
  opacity: 0.5;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0.12px;
  transition: opacity 0.3s;
}

.form-input:focus::placeholder {
  opacity: 0;
}

.form-input:focus {
  border-color: #284157;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 59px;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  flex-basis: 46%;
}

.header-logo img {
  margin-right: 20px;
}

.header-logo__title {
  color: #284157;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.16px;
}

.header-logo__title span {
  font-weight: 700;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 54%;
}

.header-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-align: right;
}

.header-schedule__text {
  line-height: 19px;
  letter-spacing: 0.12px;
  margin-right: 25px;
}

.header-schedule__text-time {
  font-weight: 700;
}

.header-schedule__icon img {
  width: 18px;
  height: 18px;
}

.header-info__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contact {
  line-height: 19px;
  text-align: center;
  margin-right: 29px;
}

.header-contact__text {
  font-size: 12px;
  letter-spacing: 0.12px;
}

.header-contact__tel {
  color: #284157;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.15px;
  transition: all 0.3s;
}

.header-contact__tel:hover {
  color: #fb2b2b;
}

.header-contact__btn {
  width: 170px;
  height: 50px;
  font-size: 12px;
  border-radius: 5px;
}

.bg {
  background: #005d9d url('../img/bg.png') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 59px;
}

.bg-text {
  color: #fff;
  flex-basis: 43%;
}

.bg-text__top {
  margin-bottom: 204px;
}

.main-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.36px;
  margin-bottom: 39px;
}

.main-subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 45px;
}

.main-subtitle2 {
  font-size: 16px;
  line-height: 24px;
}

.bg-text__bottom {
  display: flex;
  justify-content: space-between;
}

.bg-text__bottom-block {
  font-size: 14px;
  font-weight: 500;
}

.bg-text__bottom-block span {
  font-size: 12px;
  font-weight: 400;
}

.bg-form {
  width: 369px;
  height: 403px;
  background: url(../img/hexagon.svg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-form__title {
  font-weight: 500;
  text-align: center;
  position: relative;
  top: -15px;
}

.bg-form__form {
  position: relative;
  width: 190px;
  margin: 0 auto;
  top: 10px;
}

.bg-form__form-input {
  text-align: center;
  border-radius: 5px;
  width: 190px;
  height: 45px;
  margin-bottom: 10px;
}

.bg-form__form-input:last-of-type {
  margin-bottom: 15px;
}

.bg-form__form-btn {
  width: 190px;
  height: 50px;
  border-radius: 5px;
}

.projects-block_tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.projects-block_tabs .tab-link {
  padding: 9px 12px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
}

.projects-block_tabs .tab-link:hover {
  border-color: #dcdcdc;
}

.projects-block_tabs .tab-link:not(:last-child) {
  margin-right: 20px;
}

.projects-block_tabs .tab-link__active {
  border: 2px solid #41596b;
}

.projects-block_tabs .tab-link__active:hover {
  border-color: #41596b;
}

.projects-block__content {
  /* margin-bottom: 60px; */
}

.tab-content {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tab-content__active {
  position: static;
}

.tab-content__slider {
  margin-bottom: 60px;
}

.tab-content__block {
  width: calc(100% - 1px);
}

.tab-content__block-img {
  display: block;
}

.tab-content__block-text {
  text-align: center;
  padding: 29px 75px 32px;
  border: 1px solid #e8e8e8;
  border-top: none;
}

.tab-content__block-text_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}

.tab-content__block-text_descr {
  line-height: 30px;
  margin-bottom: 25px;
}

.tab-content__block-text_btn {
  width: 210px;
  height: 60px;
  border-radius: 5px;
}

.projects-block__content-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-block__content-nav .nav {
  height: 20px;
  transition: transform 0.3s;
  cursor: pointer;
}

.projects-block__content-nav .nav:hover {
  transform: scale(1.2);
}

.projects-block__content-nav .nav-dots {
  margin: 0 60px;
  display: flex;
}

.projects-block__content-nav .nav-dots .active {
  border: 3px solid #41596b;
}

.projects-block__content-nav .nav-dots__elem {
  width: 20px;
  height: 20px;
  border: 1px solid #41596b;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  transition: 0.1s;
}

.projects-block__content-nav .nav-dots__elem:not(:last-child) {
  margin-right: 20px;
}

/* -----media----- */
@media screen and (max-width: 1550px) {
  .header-info {
    flex-basis: 80%;
  }
}

@media screen and (max-width: 1366px) {
  .bg {
    background-position-x: 13%;
  }
}

@media screen and (max-width: 1300px) {
  .header-contact__btn {
    display: none;
  }
  .header-logo, .header-info {
    flex-basis: auto;
  }
  .header-schedule__text {
    margin-right: 15px;
  }
  .header-contact {
    margin-right: 0;
    margin-left: 50px;
  }
}

@media screen and (max-width: 1250px) {
  .bg {
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 132%;
  }
  .bg-text__top {
    margin-bottom: 90px;
  }
  .bg-form {
    width: 350px;
    height: 350px;
  }
  .bg-form__title {
    font-size: 15px;
  }
  .bg-form__form, .bg-form__form-input, .bg-form__form-btn {
    width: 175px;
  }
  .bg-form__form-input {
    height: 40px;
  }
  .bg-form__form-btn {
    height: 45px;
  }
  .main-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .main-subtitle {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1120px) {
  .bg {
    flex-direction: column;
    background-size: 190%;
    background-position-x: 0;
  }
  .bg-text {
    text-align: center;
    margin-bottom: 25px;
  }
  .bg-text__top {
    margin-bottom: 0;
  }
  .bg-text__bottom {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .bg {
    background-size: 220%;
    background-position-x: 7%;
  }
}

@media screen and (max-width: 950px) {
  .header {
    flex-direction: column;
  }
  .header-logo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 860px) {
  .bg {
    background-size: 270%;
    background-position-x: 13%;
  }
}

@media screen and (max-width: 700px) {
  .bg {
    background-size: 330%;
    background-position-x: 17%;
  }
}

@media screen and (max-width: 550px) {
  .header-schedule__icon {
    display: none;
  }
  .header-schedule__text {
    margin-right: 0;
  }
  .header-contact {
    margin-left: 0;
  }
  .header-info {
    width: 100%;
  }
  .bg {
    background-size: 370%;
    background-position-x: 18%;
  }
}

@media screen and (max-width: 500px) {
  .bg {
    background-size: 450%;
    background-position-x: 20%;
  }
}

@media screen and (max-width: 440px) {
  .bg {
    background-size: 550%;
    background-position-x: 21%;
  }
}

@media screen and (max-width: 420px) {
  .header-schedule {
    display: none;
  }
  .header-info__cta {
    width: 100%;
    justify-content: center;
  }
  .header-logo {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 360px) {
  .bg {
    background-position: 27% 100%;
  }
}

@media screen and (max-width: 345px) {
  .bg-form {
    width: 300px;
    height: 300px;
  }
  .bg-form__title {
    font-size: 14px;
    top: -10px;
  }
  .bg-form__form {
    top: 0;
  }
  .bg-form__form-input {
    height: 35px;
  }
  .bg-form__form-btn {
    height: 40px;
  }
}