@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Rubik&display=swap');

:root {
  --main-color:#1269db;
  --black:#000000;
  --white:#ffffff;
  --gray:#e9e9e9;
  --light-blue:#1572e8;
  --light-gray:#efefff;
}

body {
  position:relative;
  margin:0;
  padding:0;
  width:100%;
}

.content {
  position:relative;
  width:100%;
  display:flex;
}

.icon {
  width:auto;
  height:auto;
}

.image {
  width:50%;
}

.avatar {
  width:42px;
  height:42px;
  cursor:pointer;
}

.text {
  font-size:1em;
  font-weight:normal;
  font-family:Arial;
  margin:0;
}

.font-PTSans {
  font-family:'PT Sans Narrow', sans-serif;
}

.font-Rubik {
  font-family:'Rubik', sans-serif; /* Main */
}

.active {
  display:flex;
}
