@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Rubik&display=swap');

:root {
  --main-color:#1269db;
  --black:#000000;
  --white:#ffffff;
  --gray:#e9e9e9;
  --light-blue:#1572e8;
  --light-gray:#f9fbfd;
}

body {
  position:relative;
  margin:0;
  padding:0;
  width:100%;
}

.content {
  position:relative;
  width:100%;
  display:flex;
}

.icon {
  width:auto;
  height:auto;
}

.image {
  width:50%;
}

.avatar {
  width:42px;
  height:42px;
}

.text {
  font-size:1em;
  font-weight:normal;
  font-family:Arial;
  margin:0;
}

.font-PTSans {
  font-family:'PT Sans Narrow', sans-serif;
}

.font-Rubik {
  font-family:'Rubik', sans-serif; /* Main */
}

/* Top panel */

.panel {
  display:flex;
  width:100%;
  height:60px;
  position:relative;
  box-shadow:0px 0px 5px var(--black);
  z-index:2;
}

.panel-left {
  display:flex;
  width:17rem;
  background:var(--light-blue);
}

.panel-left__logo {
  margin:auto;
  width:100%;
  text-align:center;
}

.logo_image {
  width:25%;
}

.panel-main {
  display:flex;
  width:100%;
  background:var(--main-color);
}

.panel-main__right-menu {
  display:flex;
  width:100%;
  margin:auto 0%;
}

.right-menu__blocks {
  display:flex;
  width:100%;
  height:100%;
  margin-right:5%;
  justify-content:flex-end;
}

.icon__element {
  display:flex;
  margin-right:1rem;
  width:100%;
  height:100%;
  align-items:center;
}

.icon_white {
  color:var(--white);
}

.avatar_image {
  width:100%;
  height:100%;
  border-radius:50px;
  border:1px solid var(--white);
  object-fit:cover;
}

/* Top panel */

/* Left menu */

.left-menu {
  display:flex;
  height:auto;
  width:17rem;
  background:var(--white);
  flex-direction:column;
}

.left-menu__padding {
  padding:5%;
  width:auto;
}

.left-menu__user {
  display:flex;
  width:100%;
  height:70px;
  justify-content:center;
  border-bottom:1px solid var(--gray);
}

.left-panel__avatar {
  margin:auto 0%;
}

.left-menu__user-info {
  margin:auto 0% auto 5%;
}

.user-info__name {
  font-weight:600;
}

.user-info__type {
  font-size:0.8em;
}

.left-menu__menu {
  display:flex;
  width:100%;
  justify-content:center;
  height:auto;
}

/* Left menu */

/* Page */

.page {
  display:flex;
  height:auto;
  width:100%;
  background:var(--light-gray);
}

/* Page */
