@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

:root {
  --white:#ffffff;
  --black:#000000;
  --background-gradient:linear-gradient(to right, #00a6b9 0%,#2860c5 50%,#590ad3 100%);
  --caption-font:'Roboto', sans-serif;
  --main-font:'Open Sans', sans-serif;
}

body {
  position:relative;
  margin:0;
}

.image {
  width:20%;
}

.caption {
  margin:0;
  font-size:2em;
  color:var(--white);
}

.caption_h1 {
  font-weight:600;
  font-family:var(--caption-font);
}

.text {
  margin:0;
  font-size:1em;
  font-family:var(--main-font);
  color:var(--white);
}

.link {
  text-decoration:none;
  font-size:1em;
  color:var(--white);
  font-family:var(--main-font);
}

.button {
  display:inline-block;
  background:#fc4600;
  font-size:1.1em;
  text-transform:uppercase;
  padding:10px 20px;
  border-radius:5px;
  box-shadow:0px 8px 10px rgba(0,0,0,.6);
  transition:1s;
}

.button:hover {
  box-shadow:0px 1px 2px rgba(0,0,0,.6);
  background:#e8561d;
}

.button_ripple {
  position:relative;
  overflow:hidden;
}

.ripple-effect {
  display:inline-block;
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:0;
  z-index:1;
  border:2px solid rgba(255,255,255,.3);
  border-radius:5000px;
  animation:1s ripple ease forwards;
}

@keyframes ripple {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(100);
  }
}

.container {
  width:auto;
  min-height:100vh;
  height:auto;
  padding:0% 25%;
  display:flex;
  flex-direction:column;
  align-items:center;
  background:var(--background-gradient);
}

.container__logo {
  width:auto;
  display:flex;
  justify-content:center;
  margin-top:50px;
}

.logo {
  width:auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.image__logo {
  width:30%;
  padding-right:10px;
}

.container__content {
  display:flex;
  flex-direction:column;
  justify-content:center;
  min-height:300px;
  height:auto;
  margin-top:100px;
}

.caption-block {
  display:flex;
  flex-direction:column;
  width:100%;
  text-align:center;
}

.caption__caption-block {
  font-size:3em;
  font-weight:300;
  letter-spacing:3px;
}

.text__caption {
  color:var(--white);
  opacity:0.75;
  font-size:1.4em;
  font-weight:400;
  padding:40px 0px 20px 0px;
}

.text__motivation {
  color:var(--white);
  opacity:0.75;
  font-size:1.3em;
  font-weight:400;
}

.blocks {
  display:flex;
  width:100%;
  margin-top:50px;
}

.blocks__element {
  display:flex;
  flex-direction:column;
  height:150px;
  width:33.3%;
  text-align:center;
  justify-content:center;
  border-right:1px solid rgba(255,255,255,.3);
}

.blocks__element:last-child {
  border-right:none;
}

.icon {
  font-size:2em;
  color:var(--white);
  padding-bottom:10px;
}

.text__element {
  font-size:1.4em;
  font-weight:700;
}

.container__button {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:170px;
}

.text__button {
  font-size:1em;
  opacity:0.75;
}

.link__button {
  margin-top:30px;
}

@media screen and (max-width:1600px) {
  .container {
    padding:0% 20%;
  }
}

@media screen and (max-width:1366px) {
  .container {
    padding:0% 15%;
  }
}

@media screen and (max-width:1024px) {
  .container {
    padding:0% 5%;
  }
}

/* Mobile */

@media screen and (max-width:1000px) {
  .container {
    padding:0% 2%;
  }

  .container__content {
    margin-top:50px;
  }

  .caption__caption-block {
    font-size:2.2em;
  }

  .text__caption {
    font-size:1.2em;
  }

  .text__motivation {
    font-size:1.1em;
  }

  .blocks {
    flex-direction:column;
    width:100%;
  }

  .blocks__element {
    width:100%;
    border-right:none;
  }

  .text__button {
    font-size:0.9em;
  }
}

/* END--Mobile */
